<!DOCTYPE html>
<html>
<head>
    <title>Job List by ID</title>



</head>
<body>

<form onsubmit="event.preventDefault(); login();">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Login</button>
</form>
<p id="result"></p>

<script>
    async function login() {
        const id = document.getElementById('id').value;
        const password = document.getElementById('password').value;

        const loginRequest = {
            id: id,
            password: password
        };

        try {
            const response = await fetch('http://localhost:8080/api/jobs/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(loginRequest)
            });

            if (response.ok) {
                const { token, user } = await response.json();
                // JWT와 사용자 정보를 localStorage에 저장
                localStorage.setItem('token', token);
                localStorage.setItem('user', JSON.stringify(user));

                window.location.href = '/list'; // Redirect to the list page
            } else {
                document.getElementById('result').textContent = 'Login failed';
            }
        } catch (error) {
            console.error('Error during login:', error);
            document.getElementById('result').textContent = 'An error occurred';
        }
    }
</script>

</body>
</html>
